.OrderItemList {
  width: 80%;
  height: 100vh;
  overflow: hidden;
  background: rgb(236, 236, 253);
  /* background: rgb(228, 228, 125); */
}
tr {
  cursor: pointer;
}

.searchinput {
  width: 100%;
  background-color: rgb(246, 245, 252);
}
