.List {
  width: 100vw;
  /* overflow: scroll; */
}

.edit {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.edit div button {
  cursor: pointer;
  background: rgba(120, 240, 0, 0.5);
  border: none;

  text-align: center;
}

.iconss {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: ;
}
.deletebtn {
  background: rgba(255, 0, 0, 0.5);
}
.deletebtn:hover {
  background: red;
}

.editingbtns {
  width: 120px;
}

@media screen and (max-width: 1000px) {
  .List {
    overflow: scroll;
  }
  .datefeild {
    min-width: 115px;
  }
  .deletebtn {
    width: 30px;
    background-color: white;
  }
  .edit div button {
    margin-left: 0.5rem;
    background-color: rgb(253, 201, 170);
  }
}
