.customerdetails {
  padding: 15px;
  background-color: lavender;
  width: 65vw;
  min-width: fit-content;
  height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: normal;
}
.wrapper {
  background: lemonchiffon;
}

.searching {
  margin-top: 1rem;
}
.sort {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  width: fit-content;
  background: rgb(203, 203, 250);
}
.sort span {
  padding-left: 0.2rem;
}

.delete_Customer {
  z-index: 10;

  width: 1.75rem;
  border: none;
  background-color: rgb(189, 40, 40);
  box-shadow: 1px 1px 1px red;
  color: white;
}
.delete_Customer ::selection {
  background-color: red;
}
.edit_Customer {
  z-index: 10;

  width: 1.75rem;
  border: none;
  background-color: rgb(40, 55, 189);
  box-shadow: 1px 1px 1px rgb(204, 137, 137);
  color: white;
  margin-left: 1rem;
}
.pay_Customer {
  z-index: 10;
  width: 5.5ch;
  border: none;
  background-color: rgb(25, 129, 77);
  box-shadow: 1px 1px 1px rgb(16, 134, 79);
  margin-left: 0.75rem;
  color: white;
}

.for_cursor {
  cursor: default;
}
